body {
	background-color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: 400;
	margin: 0;
	padding: 0
}

a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px
}

a:link {
	text-decoration: none;
	color: #2c92c9;
	font-weight: 400
}

a:active {
	text-decoration: none;
	color: #2c92c9;
	font-weight: 400
}

a:visited {
	text-decoration: none;
	color: #2c92c9;
	font-weight: 400
}

a:hover {
	text-decoration: none;
	color: green;
	font-weight: 400
}

a.mlink {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px
}

a.mlink:link {
	text-decoration: none;
	color: #fff;
	font-weight: 400
}

a.mlink:active {
	text-decoration: none;
	color: #fff;
	font-weight: 400
}

a.mlink:visited {
	text-decoration: none;
	color: #fff;
	font-weight: 400
}

a.mlink:hover {
	text-decoration: none;
	color: green;
	font-weight: 400
}

a.mlink1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	display: block;
	float: right;
	margin: 1px;
	padding: 1px;
	margin-right: 5px
}

a.mlink1:link {
	text-decoration: none;
	color: #fff;
	font-weight: 700
}

a.mlink1:active {
	text-decoration: none;
	color: #fff;
	font-weight: 700
}

a.mlink1:visited {
	text-decoration: none;
	color: #fff;
	font-weight: 700
}

a.mlink1:hover {
	text-decoration: none;
	color: green;
	font-weight: 700
}

a.minilink {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px
}

a.minilink:link {
	text-decoration: underline;
	color: #000;
	font-weight: 400
}

a.minilink:active {
	text-decoration: underline;
	color: #000;
	font-weight: 400
}

a.minilink:visited {
	text-decoration: underline;
	color: #000;
	font-weight: 400
}

a.minilink:hover {
	text-decoration: none;
	color: #000;
	font-weight: 400
}

a.headerlink {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: 700
}

a.headerlink:link {
	text-decoration: underline;
	color: #000;
	font-weight: 700
}

a.headerlink:active {
	text-decoration: underline;
	color: #000;
	font-weight: 700
}

a.headerlink:visited {
	text-decoration: underline;
	color: #000;
	font-weight: 700
}

a.headerlink:hover {
	text-decoration: none;
	color: #000;
	font-weight: 700
}

h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 22px;
	color: #000;
	font-weight: 400
}

h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #3f3f3f;
	font-weight: 700;
	border-bottom: #000 1px dotted
}

h3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #000;
	font-weight: 700
}

h4 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #3f3f3f;
	font-weight: 700;
	padding-left: 10px;
	padding-bottom: 0;
	margin-bottom: 0;
	padding-top: 0;
	margin-top: 0
}

p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: 400
}

p.mintext {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px
}

span.mintxt {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px
}

p.mintextw {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #fff
}

ul {
	margin-left: 10px;
	padding-left: 10px;
	margin-top: 3px;
	padding-top: 3px
}

li {
	margin-left: 0;
	padding-left: 0;
	font-family: Tahoma, Verdana, Arial, sans-serif;
	font-size: 12px;
	font-weight: 400;
	margin-bottom: 5px
}

input.sbut {
	background-color: #fff;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px
}


textarea.sbuttext {
	background-color: #fff;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px
}


ul.sul {
	margin: 0;
	padding: 0;
	font-family: Tahoma, Verdana, Arial, sans-serif;
	font-weight: 400;
	font-size: 13px;
	list-style-position: inside
}

div.text {
	font-family: Tahoma, Verdana, Arial, sans-serif;
	font-size: 12px;
	font-weight: 400
}

div.stext {
	font-family: Tahoma, Verdana, Arial, sans-serif;
	font-size: 12px;
	font-weight: 400
}

div.minitext {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px
}

ul.slist {
	list-style-image: url(/style/ulm.gif);
	list-style-position: inside;
	margin-left: 5px;
	padding-left: 5px;
	margin-top: 0;
	padding-top: 0
}

li.sli {
	margin-top: 2;
	padding-top: 2
}

ul.mlist {
	list-style-image: url(/style/ulm.gif);
	list-style-position: inside;
	margin-left: 0;
	padding-left: 0;
	margin-top: 0;
	padding-top: 0
}

li.mli {
	margin-top: 0;
	padding-top: 0
}

li.fsubcat {
	margin-bottom: 3px;
	padding-bottom: 3px;
	list-style-type: disc
}

ul.sitelist {
	list-style-image: url(folder.png);
	list-style-position: inside;
	margin-top: 3px;
	padding-top: 3px;
	margin-bottom: 3px;
	padding-bottom: 3px;
	margin-left: 3px;
	padding-left: 3px
}

ul.subcatu {
	list-style-type: disc;
	list-style-position: inside;
	margin-top: 3px;
	padding-top: 3px;
	margin-bottom: 3px;
	padding-bottom: 3px;
	margin-left: 3px;
	padding-left: 3px
}

ul.simpl {
	margin: 0 0 0 10px;
	padding: 0;
	list-style-position: inside
}